
body{
  /*background-image: url("../images/burningman.jpg");*/
  font-size:16pt;
  font-family: 'Roboto', sans-serif;

}



section{

  /*background-image: url("../images/burningman.jpg");*/
  font-size:16pt;
  font-family: 'Roboto', sans-serif;
  color:black
}

header{
font-weight:bold;
font-size: 24pt;
color: red;
text-align:center;
font-family: 'Roboto', sans-serif;
height:300px;


}

#artistdisplay{

font-size:20pt;
color:red;

}

#artistpicture{

}
