
body{
  font-size:16pt;
  font-family: 'Roboto', sans-serif;
  background-image: url("../images/space.jpg");
  background-size: 100% 100%;
  background-repeat:no-repeat;
  height:850px
}



section{


  font-size:16pt;
  font-family: 'Roboto', sans-serif;
  color:black
}

header{
font-weight:bold;
font-size: 24pt;
color: red;
text-align:center;
font-family: 'Roboto', sans-serif;
height:300px;
}

h3{
color:red!important;
}
